<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>Home</title>
</head>
<body>
    <div>Welcome, {{ user }}, please choose a category! </div>
    <form action="/result" method="post">
        {% for category in categorys %}
            {% if category.name %}
                <p><input type="radio" name="category_key" value="{{category.key}}">{{ category.name }}</p>
            {% endif %}
        {% endfor %}
        <div><input type="submit" name="{{ action }}" value="Choose"></div>
    </form>
           
<a href="/">Back to Home</a>
</body>
</html>
